{% extends 'message/base.html' %}
{% load staticfiles %}

{% block sub_title %}
  Example Dashboard
{% endblock sub_title %}

{% block sub_heading %}
  Example Dashboard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'conversation.list' %}" class="pure-menu-link">
              <i class="fa fa-comments"></i>
              Conversations
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'reported.list' %}" class="pure-menu-link">
              <i class="fa fa-exclamation-triangle"></i>
              Reported
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
