{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
  Message
{% endblock title %}

{% block heading %}
  Message
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu_dash %}
  <li
    class="pure-menu-item{% if 'conversation' in path %} pure-menu-selected{% endif %}">
    <a href="{% url 'conversation.list' %}" class="pure-menu-link">
      Conversations
    </a>
  </li>
  <li
    class="pure-menu-item{% if 'reported' in path %} pure-menu-selected{% endif %}">
    <a href="{% url 'reported.list' %}" class="pure-menu-link">
      Reported
    </a>
  </li>
{% endblock menu_dash %}

{% block footer %}
{% endblock footer %}
