<div class="pure-menu">
  <ul class="pure-menu-list">
  {% for message in conversations %}
    {% if message.message_from.pk == active_user.pk %}
      {% include 'message/_conversation_link.html' with contact=message.message_to %}
    {% else %}
      {% include 'message/_conversation_link.html' with contact=message.message_from %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
