{% if conversation %}
<div class="pure-g">
  {% for message in conversation %}

  {% if message.message_from.pk == conversee.pk %}
  <div class="pure-u-1-5">
    <!--  Moves the chat box to the right when not the user logged in. -->
    &nbsp;
  </div>
  {% endif %}
  <div class="pure-u-4-5 conversation">

    {% if message.picture %}
      <a href="{{ message.picture.url }}" target="img">
        <img class="pure-img" src="{{ message.picture.url }}" />
      </a>
    {% endif %}
    <p>
      {% if message.message %}
        {{ message.message }}
        <br>
      {% endif %}
      <span class="small">
        {{ message.message_from.first_name }}
        {{ message.message_from.last_name }} -
        {{ message.created }}</span>
      <span class="small"  style="float: right;">
        {% for action in message.action_summary %}
          {{ action.action_name }} {{ action.total }}
        {% endfor %}

        {% if message.was_liked %}
          <a href="{% url 'conversation.message.unlike' message.id %}">Unlike</a>
        {% else %}
          <a href="{% url 'conversation.message.like' message.id %}">Liked</a>
        {% endif %}
        {% if not message.was_reported %}
          |
          <a href="{% url 'reported.report' message.id %}">Report</a>
        {% endif %}
      </span>
    </p>

    <p>
    </p>
  </div>
  <div class="pure-u-1">
    <!--  Empty and Forces a new line.
      Cos: We always want <div class="pure-u-1-5"> to be first in the row. -->
  </div>

  {% endfor %}

  <div class="pure-u-1">
    {% include '_form.html' with legend='Message '|add:conversee.full_name aligned=False multipart=True %}
  </div>

</div>

{% else %}

<p><i>Select a conversation with one of your contacts.</i></p>

{% endif %}
