<li class="pure-menu-item {% if contact.pk == conversee.pk %}pure-menu-selected{% endif %}">
  <a href="{% url 'conversation.list' contact.pk %}" class="pure-menu-link">
    {{ contact.full_name }} - {{ message.created|date:'d/m/Y H:i' }}
  </a>
</li>
