<tr>
  <thead>
    <th colspan="2">
      <strong>Message</strong>
    </th>
  </thead>
</tr>
<tr>
  <td colspan="2">
    {% if message.message %}
      <div>
        {{ message.message }}
      </div>
    {% endif %}
    {% if message.picture %}
    <p>
        <img src="/media/{{ message.picture }}" class="pure-img" />
    </p>
    {% endif %}
  </td>
</tr>
<tr>
  <th>
    messageTo
  </th>
  <td>
    <a href="{% url 'contact.update' message.message_to.pk %}">
      <i class="fa fa-edit"></i>
      {{ message.message_to.get_full_name }}
    </a>
    <small>
      ({{ message.message_to.user.username }})
    </small>
  </td>
</tr>
<tr>
  <th>
    messageFrom
  </th>
  <td colspan="2">
    <a href="{% url 'contact.update' message.message_from.pk %}">
      <i class="fa fa-edit"></i>
      {{ message.message_from.get_full_name }}
    </a>
    <small>
      ({{ message.message_from.user.username }})
    </small>
  </td>
</tr>
<tr>
  <th>
    Reported By
  </th>
  <td colspan="2">
    {% for ma in actions %}
      <a href="{% url 'contact.update' message.message_to.pk %}">
        [{{ ma.action_by.get_full_name }} <small>{{ma.action_name}}</small>]
      </a>
    {% endfor %}
  </td>
</tr>
