<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr>
      <th>Message</th>
      <th>MessageFrom</th>
      <th>MessageTo</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_list %}
      <tr valign="top">
        <td>
          {{ message.message }}
        </td>
        <td>
          <a href="{% url 'contact.update' message.message_to.pk %}">
            <i class="fa fa-edit"></i> {{ message.message_to }}
          </a>
        </td>
        <td>
          <a href="{% url 'contact.update' message.message_from.pk %}">
            <i class="fa fa-edit"></i> {{ message.message_from }}
          </a>
        </td>
        <td>
          <a href="{% url 'reported.detail' message.pk %}">
            <i class="fa fa-edit"></i> Action
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
