{% extends 'message/base.html' %}

{% block content %}
<style>
  .conversations {
    background-color: lightgrey;
    box-sizing: border-box;
    padding: 12px;
  }
  .conversation {
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #1f8dd6;
    color: white;
  }
  .conversation a {
    color: lightgrey;
    text-decoration: underline;
  }
  .small {
    font-size: 80%;
    color: lightgrey;
  }
  .pure-menu-selected {
    font-weight: bold;
    background-color: lightgrey;
  }
</style>

<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-3">
    <h3>Your conversations</h3>
    {% include 'message/_conversations_list.html' %}
    <p>
      <a href="{% url 'conversations.new' %}" class="pure-button">
        Start a new conversation
      </a>
    </p>
  </div>
  <div class="pure-u-1 pure-u-sm-2-3 conversations">
    {% include 'message/_conversation_list.html' %}
  </div>
</div>
{% endblock content %}
