{% extends 'message/base.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'message/_message_list.html' %}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
