{% extends 'dash/base.html' %}

{% block sub_title %}
  Reported Message
{% endblock sub_title %}

{% block sub_heading %}
  Reported Message
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'conversation.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered">
          <tbody>
            {% include 'message/_message_detail.html' %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
