{% extends 'message/base.html' %}

{% block sub_heading %}
  List of Reported Posts
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        This list only shows reported posts which you have not already dealt with.
      </p>
      {% include 'message/_reported_list.html' %}
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
