{% extends 'dash/base.html' %}

{% block sub_title %}
  Reported Message
{% endblock sub_title %}

{% block sub_heading %}
  Reported Message
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'reported.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered">
          <tbody>
            {% include 'message/_message_detail.html' %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="{% url 'reported.overruled' message.id %}" class="pure-menu-link">
                <i class="fa fa-thumbs-up"></i> This message is okay. Reports overruled.
              </a>
            </td>
          </tr>
          {% if not message.deleted %}
          <tr>
            <td>
              <a href="{% url 'reported.sustained' message.id %}" class="pure-menu-link">
                <i class="fa fa-thumbs-down"></i> This message is not okay. Reports sustained.
              </a>
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              <a href="{% url 'reported.postpone' message.id %}" class="pure-menu-link">
                <i class="fa fa-hourglass-1"></i> Deal with this later.
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
